@media (min-width: 320px) {
  .campaignContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 40px 10px;
    width: 100%;
  }

  .campaignSection1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .campaignSection1 h1 {
    font-family: Segoe UI;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .newTask {
    background: linear-gradient(273.31deg, #B5E48C 0.49%, #184E77 26.19%);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    gap: 5px;
    transition: transform 0.3s ease;
  }

  .newTask:hover {
    background: linear-gradient(273.31deg, #184E77 0.49%, #B5E48C 26.19%);
    transform: scale(1.03);
    transition: transform 0.3s ease;
  }

  .newTask:active {
    transform: scale(0.9);
  }

  .newTask span {
    display: none;
  }
}

@media (min-width: 768px) {
  .campaignContainer {
    padding: 40px 40px;
  }

  .campaignSection1 h1 {
    font-size: 32px;
  }

  .newTask {
    padding: 0.75rem 1.5rem;
  }

  .newTask span {
    display: inline;
  }
}

@media (min-width: 1440px) {
  .campaignSection1 h1 {
    font-size: 40px;
  }
}