@media only screen and (min-width: 320px) {
  .forgot_password {
    display: flex;
    flex-direction: column;
    padding: 40px 20px;

  }

  .forgot_password .arrowBack {
    position: absolute;
    left: 20px;
    top: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .forgot_password .arrowBack:hover {
    transform: scale(1.03);
    transition: all 0.3s ease;
  }

  .forgot_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 30px 0;
    border: 1px solid #56397D;
  }

  .forgot_section .padlock {
    height: 200px;
  }

  .forgot_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 20px;
  }

  .forgot_email label,
  .enter_code label,
  .forgot_text h3,
  .forgot_text p {
    color: #56397D;
  }

  .forgot_text h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .forgot_email,
  .enter_code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%;
        font-weight: 600;
  }

  .formText {
    border: 2px solid #56397D;
    padding: 5px 10px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgb(33, 33, 70);
    border-radius: 50px;
        outline: none;
  }

  .button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 37px;
    background-color: #56397D;
    border-radius: 50px;
    outline: 0;
    border: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: "SF Compact Display-Medium", Helvetica;
    transition: all 0.3s;
    overflow: hidden;
    box-shadow: 0 4px 4px 0 rgb(33, 33, 70);
    cursor: pointer;
  }

  .button span {
    position: relative;
    z-index: 50;
  }

  .button:hover span {
    color: #56397D;
  }

  .button::before,
  .button::after {
    content: "";
    position: absolute;
    transition: inherit;
    transform: scale(0);
    border-radius: 50%;
    background-color: whitesmoke;
  }

  .button::before {
    top: 0;
    left: 0;
    right: 50%;
    bottom: 50%;
  }

  .button::after {
    bottom: 0;
    right: 0;
    top: 50%;
    left: 50%;
  }

  .button:hover::before,
  .button:hover::after {
    transform: scale(3);
  }
}

@media only screen and (min-width: 768px) {
  .button {
    width: 287px;
    height: 37px;
  }

  
  .forgot_text h3 {
    font-weight: 600;
    font-size: 28px;
  }

    .forgot_section .padlock {
    height: 300px;
  }
}

@media only screen and (min-width: 1024px) {
  .arrowBack {
    display: none;
  }

    .forgot_section .padlock {
    height: 400px;
        justify-self: flex-end;
  }

    .forgot_text {
    font-size: 20px;

  }

    .forgot_email,
  .enter_code {
    width: 60%;
    font-size: 20px;
    font-weight: 600;
  }

  .forgot_text h3 {
    font-weight: 600;
    font-size: 36px;
  }

}