@media only screen and (min-width: 320px) {
  .formSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    position: relative;
  }

  .formSection .logo {
    width: 130px;
    height: 130px;
  }

  .formSection .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .formPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .formPage h1 {
    font-size: 28px;
    font-weight: 600;
    color: #56397D;
    text-align: left;
  }

  .formPage .formSpan {
    color: #56397D;
    text-align: center;
  }

  .img {
    display: none;
  }

  .formPage form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  .formPage form .formText {
    display: flex;
    justify-content: space-between;
    border: 2px solid #56397D;
    padding: 8px 10px;
    font-size: 14px;
    width: 100%;
    box-shadow: 0 4px 4px 0 rgb(33, 33, 70);
    border-radius: 50px;
    outline: none;
  }

  .formPage form .formText input {
        outline: none;
        width: 100%;
  }

  .formPage p {
    font-size: 15px;
    text-align: center;
  }

  .formPage .link {
    color: #56397D;
    padding: 0 5px;
    font-weight: 600;
  }

  .formPage .p {
    text-align: center;
  }

  .formPage .but {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

}

/* screen responsiveness 768px */
@media only screen and (min-width: 768px) {
  .formSection .logo {
    width: 160px;
    height: 160px;

  }

  .formSection .logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .formPage {
    padding: 0px 30px;

  }

  .formPage h1 {
    font-size: 36px;
    font-weight: 700;
  }

  .formPage form {
    width: 90%;
  }

  .formPage .but {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

}

/* screen responsiveness 1024px */
@media only screen and (min-width: 1024px) {
  .formSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 50px; */
  }

  .formSection .logo {
    display: none;
  }

  .formPage {
    width: 50%;
    align-items: flex-start;
  }

  .formPage h1 {
    font-size: 48px;
    font-weight: 700;
  }

  .formPage form {
    width: 100%;
  }

  .formPage .but {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .formSection .img {
    display: block;
    /* width: 833px;
    height: 833px; */
  }

}